{% extends "base.html" %} {% load bootstrap3 %} {% block content %}
<div class="row">
  <div class="col-md-12">
    <h3>Your Payments & Invoices</h3>
    <br />
    <div class="card card-body">
      <table class="table table-striped">
        <thead>
          <th>Invoice</th>
          <th>Paid</th>
          <th>Date</th>
          <th>Outstanding</th>
          <th>Pay using Wallet</th>
        </thead>
        {% for obj in payment_me %}
        <tr>
          <td><a href="http://localhost:5000">Open Invoice</a></td>
          <td>{{ obj.paid }}</td>
          <td>{{ obj.date }}</td>
          <td>{{ obj.outstanding }}</td>
          <td>
            <button type="button" class="btn btn-primary" onclick="showAlert()">
              Pay Now
            </button>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

<script>
  function showAlert() {
    setTimeout(function () {
      alert("Payment Completed");
    }, 1000);
    var url = "http://localhost:8000/";
    setTimeout(function () {
      window.location = url;
    }, 1500);
  }
</script>

{% endblock %}
