{% extends 'base.html' %} {% block content %}
<div class="jumbotron">
  <h1 align="center">Medilocker</h1>
  <style>
    p.c {
      font-style: oblique;
    }
  </style>
  <h4 align="right" class="c">"We care to cure you."</h4>

  <p>
    Leveraging blockchain technology in the medical industry can lead to
    innovative solutions to address various challenges wherein patients can have
    ownership of their health data, and different healthcare providers can
    access and update the records with the patient's consent. This can ensure
    efficient data processing and storing and accessing medical records whilst
    building a secure and interoperable medical record system on the blockchain.
  </p>
</div>

{% endblock %}
